*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    color: #fff;

}
.header{ 
    display: flex;
    justify-content: space-between;
    background: #2D2E32;
    color: #fff;
    padding:0 6rem;
}
.logo{
    flex: 1;
    font-family: 'Bebas Neue', cursive;
}
.logo span{
    color: #62EEA7;
    
}
.menu{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
}
.menu ul, .social ul{
    display: flex;
    justify-content: space-between;
    margin-left:2rem ;
}

.menu ul li, .social ul li{
    list-style: none;
    margin-left:2rem ;
    cursor: pointer;
} 

.menu ul li:hover, .social ul li:hover{
    color: #62EEA7;
} 
.menu-icon{
    display: none;
}

/* Main */
main{
    margin: 0px;
    padding: 0px;
}
.title{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    background-color: #62EEA7;
    color: #2D2E32;
    max-width:112px;
    padding: 4px;
    border-radius: 4px;
}
.title:hover{
    color: #fff;
}
/* .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
} */
.wrapper{
    background: #2D2E32;
    display: flex;
    padding: 4rem 16rem;
    justify-content: space-between;
    /* align-items: center; */
}
.wrapper .infos {
    font-size: 2rem;
}
.wrapper p{
    font-size: 3rem;
    font-weight: 500;
}
.wrapper p:nth-child(4){
    color: rgba(221, 221, 221, 0.582);
    font-size: 1rem;
    font-weight: 500;
}
.about{
    display: flex;
    justify-content: space-around;
    background: #212124;
    padding: 8rem 4rem;
}
.about .container{
    display: flex;
    background: #282a2e;
    padding: 2rem;
    margin: 0.85rem;
    border-radius: 5px;
}
.about .container .container-title{
    display: flex;
    justify-content: space-between;
}
.about .container .container-title p{
    font-size: 2.25rem;
    color: #f9f9f990;
}
.about .container img{
    width: 1.5rem;
    margin-left: 1rem;
}
.about .container .container-subtitle{
    font-size: 1.25rem;
    color: #d9d9d960;
}
.about .container:hover{
    /* box-shadow: 0px 2px 5px 0px #313235; */
    box-shadow: -3px 7px 8px 0px rgba(0,0,0,0.14);
    -webkit-box-shadow: -3px 7px 8px 0px rgba(0,0,0,0.14);
    -moz-box-shadow: -3px 7px 8px 0px rgba(0,0,0,0.14);
    color: #62EEA7  !important;

}
.about .info-about{
    max-width: 350px;
}
.about .info-about h2{
    font-size: 2.5rem;
    font-weight: lighter;
    margin-bottom: 2.5rem;
}
.about .info-about .subtitle{
    font-size: 1rem;
    color: #d9d9d9;
    font-weight: 400;
    margin-bottom: 1.5rem;
}
.about .info-about .describe{
    font-size: 0.65rem;
    font-weight: 400;
    color: #d9d9d960;
    text-align: justify;
    margin-bottom: 1.5rem;
}

.skills{
    display: flex;
    flex-direction: column;
    background: #212124;
    padding: 1rem 4rem;
    color: #fff;
}
.skills .slide{
    display: flex;
    margin-top: 2rem;
}
.skills .slide .slide-body{
    overflow-x: scroll;
    -webkit-overflow-scrolling:none ;

}
.skills .slide {
    justify-content: space-between;
}
.skills .slide .slide-body::-webkit-scrollbar{
    display: none;
}
.skills .slide ul{
    list-style: none;
    display: flex;
}
.skills .slide  .arrow{
    font-size: 3rem ;
    color: #62EEA7;
    cursor: pointer;
}

.projects{
    display: flex;
    flex-direction: column;
    background: #212124;
    padding: 1rem 4rem;
    color: #fff;
}
.project-container{
    position: relative;
}
.transparent{
    background-color: #2D2E32;
    position: absolute;
    top: 0;
    width: 100%;
}

@media(max-width:768px){
    .header{
        margin: 0 rem;
        padding: 0 1rem;
    }
    .logo{
        flex: 2;
        margin-bottom: 1rem;
    }
    .menu{
        justify-content: flex-end;
    }
    .menu ul,.social{
        display: none;
    }
    .menu-icon{
        display: block;
    }
    .main{
        margin: 0;
    }
    .wrapper{
        flex-direction: column;
        margin: 0;
        padding: 1rem;
        justify-content: center;
        align-items: center;
    }
    .wrapper .img{
        width: 250px !important;
    }
    .about{
        flex-direction: column-reverse;
        padding: 2rem;
    }
    .about .container{
        padding: 0.65rem;
        margin:1.5rem 0px;
    }
    .skills,.projects{
        padding: 1rem 0;
    }
    .skills span{
        display: none;
    }
    .skills h3,.projects h3{
        margin-left:1rem;
    }
}